@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');

:root {

  --blue-saphire: #2e677aff;    /* primary color */
  --orange-red: #eb7131ff;      /* secondary color */

  /* additional colors based on primary and secondary colors */
  --lavender-web: #eeeeffff;    
  --laurel-green: #9fb798ff;
  --gainsboro: #dddadaff;

  /* extra colors for fonts */
  --davys-grey: #5d5d5dff;
    
  /* variables for colors from palette */
  --primary-color: var(--blue-saphire);
  --secondary-color: var(--orange-red);
  --accent1-color: var(--lavender-web);
  --accent2-color: var(--laurel-green);

  /* values to chosen font(s) */
  --heading-font: 'Merriweather', serif;
  --paragraph-font: 'Roboto Condensed', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent1-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--davys-grey); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--gainsboro); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: #2e677add;  /* primary-color with different saturation */
  --nav-hover-link-color: var(--primary-color);
  --nav-hover-background-color: var(--accent2-color);
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    font-family: var(--paragraph-font);
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-size: 2em;
}

section {
    background-color: var(--accent2-color);
}

footer {
    background-color: var(--accent1-color);

    
    width: 100%;
}

nav {
    margin: 0 auto;
    background-color: black;
    color: white;
    
    font-family: var(--navigation-font);
    font-size: 24px;
    display: flex;
    flex-direction: column;
}    

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    /* 
    text-align: left;
    transition: 0.5s; 
    font-weight: 700;
    font-size: clamp(1re, 2vmin, 1.5rem);
    */
}

.navMenu::before {
    content: "≡";
    font-size: 2rem;
}

.navigation a:hover, .navigation a:active {
    color: black;
    background-color: white;
}

.responsive li {
    display: block;
}

.responsive .navMenu::before {
    content: "X";
}

.heroImg {
    max-width: 300px;
    width: 100%;
    height: auto;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #073122d2;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.daysfromlasvisit {
    color: tomato;
}

.eventcard img {
    width: 100%;
    height: auto;
}

/*----------- FORM --------------*/

form fieldset {
    margin: 2rem 0; 
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 1rem .5rem .5rem;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    text-align: left;
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    /*-webkit-appearance: none;*/
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem .2rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    text-align: left;
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form .memo {
    height: 5rem;
}

/*----------- Membership Levels Benefits -----------*/

.benefits {
    display: none;
}