@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');

:root {

  --blue-saphire: #2e677aff;    /* primary color */
  --orange-red: #eb7131ff;      /* secondary color */

  /* additional colors based on primary and secondary colors */
  --lavender-web: #eeeeffff;    
  --laurel-green: #9fb798ff;
  --gainsboro: #dddadaff;

  /* extra colors for fonts */
  --davys-grey: #5d5d5dff;
    
  /* variables for colors from palette */
  --primary-color: var(--blue-saphire);
  --secondary-color: var(--orange-red);
  --accent1-color: var(--lavender-web);
  --accent2-color: var(--laurel-green);

  /* values to chosen font(s) */
  --heading-font: 'Merriweather', serif;
  --paragraph-font: 'Roboto Condensed', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: var(--accent1-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--davys-grey); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--gainsboro); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: #2e677add;  /* primary-color with different saturation */
  --nav-hover-link-color: var(--primary-color);
  --nav-hover-background-color: var(--accent2-color);
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    font-family: var(--paragraph-font);
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    font-size: 1.2em;
}

section {
    background-color: var(--accent2-color);
}

footer {
    background-color: var(--accent1-color);

    
    width: 100%;
}

nav {
    margin: 0 auto;
    background-color: black;
    color: white;
    
    font-family: var(--navigation-font);
    font-size: 24px;
    display: flex;
    flex-direction: column;
}    

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    /* 
    text-align: left;
    transition: 0.5s; 
    font-weight: 700;
    font-size: clamp(1re, 2vmin, 1.5rem);
    */
}

.navMenu::before {
    content: "≡";
    font-size: 2rem;
}

.navigation a:hover, .navigation a:active {
    color: black;
    background-color: white;
}

.responsive li {
    display: block;
}

.responsive .navMenu::before {
    content: "X";
}

.heroImg {
    max-width: 300px;
    width: 100%;
    height: auto;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #073122d2;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.daysfromlasvisit {
    color: tomato;
}

.eventcard img {
    width: 100%;
    height: auto;
}

/*----------- FORM --------------*/

.joinform {
    background-color: white;
}

form fieldset {
    margin: 2rem 0; 
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 1rem .5rem .5rem;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    text-align: left;
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    /*-webkit-appearance: none;*/
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem .2rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    text-align: left;
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

form .memo {
    height: 5rem;
}

/*----------- Membership Levels Benefits -----------*/

.benefits {
    display: none;
}

/*----------  Directory --------------*/

.directorymenu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #ddd; 
	text-align: center;
}

.directorymenu button {
	padding: 1rem;
    font-size: 1em;
}

#directoryarticle {
	margin: 0.5rem;
}

.companyadv {
	height: auto;
    /* max-height: 12em; */
	width: 100%; 
    margin-top: 1rem;
}


.directorycard {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #ccc;
}

.directorygrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

.directorygrid h3 {
    grid-column: 1 /-1;
}

.directorygrid section {
	flex-direction: column;
	text-align: center;
    height: 22em;
    position: relative;
}

.directorygrid section > * {
	margin: 0.1rem;
}

.directorygrid .companywebsite {
    position: absolute;
    bottom: 1rem;
    display: block;
    text-align: left;
}

.directorygrid .companycontact {
    position: absolute;
    bottom: 2rem;
    text-align: left;
}

.directorygrid .companyphone {
    position: absolute;
    bottom: 3rem;
    text-align: left;
}

.directorygrid .companyaddress {
    position: absolute;
    bottom: 4rem;
    text-align: left;
}

.directorylist {
	display: flex;
	flex-direction: column;
}

.directorylist section {
	display: grid;
	grid-template-columns: 1fr 1fr .8fr 1fr .5fr;
	margin: 0;
	padding: 0.25rem;
}

.directorylist .businessdescription {
    display: none;
} 

.directorylist section > * {
	margin: 0 1rem;
}

.directorylist section img {
	display: none; /* smaller viewports only */
}

.directorylist section h4 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.directorylist section:nth-child(even) {
	background-color: #bed;
}

.directorycard h4 {
	font-size: 1.2rem;
}

.directorycard h5 {
	font-size: 1rem;
}

.directorycard p {
	font-size: .8rem;
}

.directorycard a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: .8rem;
}

.directorycard img {
	height: auto;
	width: 100%; 
    margin-top: 1rem;
}

/* On screens that are less than 400px, display less columns */
@media screen and (max-width: 400px) {
    .directorylist section {
        display: grid;
        grid-template-columns: 1fr .5fr;
        margin: 0;
        padding: 1rem;
    }
    .directorylist .companycontact {
        display: none;
    } 
    .directorylist .companyphone {
        display: none;
    }    
    .directorylist .companyaddress {
        display: none;
    }
    .directorylist .companyname {
        font-size: .8rem;
        grid-column: 1 / 2;
    } 
    .directorylist .companywebsite {
        font-size: .8rem;
        grid-column: 2 / 3;
    } 
}      

/*---------- weather and forecast -----------*/
#forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr;
}

/*----------- silver and gold members ----------*/

#advertisement-article h4 {
	margin: 0.5rem;
    grid-column: 1 /-1;
}

.advertisement {
	margin: 0.5rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #ccc;
}

.advertisement h5 {
	font-size: 1.2rem;
}

.advertisement img {
	height: auto;
	width: 100%; 
}

/*--------- Banner ------------*/

#banner {
    background-color: var(--accent2-color);
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    margin: 10px auto;
}
