@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap');

:root {
  /* site main colors */
  --primary-color: #1f2c7ad0;
  --secondary-color: #b38336;
  --accent1-color: #80ffb0;
  --accent2-color: #ae4dff;

  /* site font(s) */
  --heading-font: 'Roboto', sans-serif;
  --navigation-font: 'Open Sans', sans-serif;
  --paragraph-font: 'Lato', sans-serif;

  /* other site colors */
  --headline-color-on-white: #132b59;  /* headlines on a white background */ 
  --headline-color-on-color: #132b59; /* headlines on a colored background */ 
  --paragraph-color-on-white: #132b59; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #132b59; /* paragraph text on a colored background */ 
  --paragraph-background-color: #ffc566;
  --nav-link-color: #132b59;
  --nav-background-color: #ae4dff;
  --nav-hover-link-color: #132b59;
  --nav-hover-background-color: #80ffb0;

}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    font-family: var(--paragraph-font);
}

nav {
    margin: 0 auto;
    background-color: black;
    color: white;
    
    font-family: var(--navigation-font);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}    

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.navMenu::before {
    content: "≡";
    font-size: 2rem;
}

.navigation a:hover, .navigation a:active {
    color: black;
    background-color: white;
}

.responsive li {
    display: block;
}

.responsive .navMenu::before {
    content: "X";
}

nav img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

nav img, nav a {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

ul {
    list-style-type: none;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    border-style: solid;
    border-radius: 20px;
}

.card ul {
    text-align: left;
    padding: 15px;
}

.temple {
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.templeImg {
    width: 100%;
}

.templeLabel {
    position: absolute;
    left: 20px;
    top: 20px;
    border-style: solid;
    padding: 1.5rem;
    white-space: nowrap;
    background: radial-gradient(#fff, #4d5b97);
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

.foto {
    width: auto;
    max-height: 300px;
}

.visitCount {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}