@media only screen and (min-width: 600px) {
    
    .menu {
        grid-template-columns: 1fr 1fr;
        gap: 0px 15px;
    }

    nav {
        flex-direction: row;
    }

    nav img {
        flex-basis: 48px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
}